body{
	background-color: lightblue;
}
h1{
	font-size: 30 px;
	color: teal;
}

h2{
	color: darkred;
}

h2{
	color: greenyellow;
}

.big{
	font-size: 60px;
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: navy;
}

h1 span{
	color: darkred;
}